= link_to "Sign up", new_user_registration_path unless current_page? new_user_registration_path
= link_to "Login", new_user_session_path
= checkout_link
= shop_icon_quantity
.wrapper
    %ul#products
        %table
            - @products.each do |product|
                %tr{id: dom_id(product)}
                    %td= product.name
                    %td= "#{product.price} kr"
                    %td= product.description
                    %td= add_to_cart(product, 1, "Add to cart")
                %end
